
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kulanicilar</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Mail</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Ad</td>
        <td>Soyad</td>
        <td>Mail</td>
    </tr>
</table>

