@using (Html.BeginForm("List", "Indirimler", FormMethod.Get)) {


<div class="well">
    <h4>İndirim Ara</h4>
    <hr />
    <div class="input-group">
        @Html.TextBox("AnahtarKelime",null,new { @class="form-control"})
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
</div>
}